.root {
    -fx-background-color: #73a3f0;
}

.label {
    -fx-font-family: "monospace";
    -fx-font-size: 18px;
    -fx-font-weight: bold;
}

.button {
    -fx-background-color: white;
    -fx-font-size: 15px;
    -fx-font-weight: bold;
}

.button:hover {
    -fx-background-color: white;
    -fx-cursor: hand;
}

#key-info-text {
    -fx-font-family: arial;
    -fx-font-style: italic;
    -fx-font-weight: normal;
}
